[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
shapely = "*"
scipy = "*"
numpy = "*"
matplotlib = "*"
osmnx = "*"
mapclassify = "*"
folium = "*"
aiomysql = "*"
python-dotenv = "*"
sqlalchemy = "*"
uvicorn = "*"
starlette = "*"
fastapi = "*"
loguru = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.10"
